<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Hello world Lê Ngân from View</h1>
    <a href="/crud">Create User is here...</a>
    <br />
    <a href="/get-crud">Xem Info User</a>
    <p>
        <%=data%>
    </p>
</body>

</html>